[package]
name = "dapr"
version = "0.14.0"
authors = ["dapr.io"]
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/dapr/rust-sdk"
description = "Rust SDK for dapr"
readme = "README.md"
keywords = ["microservices", "dapr"]

[dependencies]
dapr-macros = { version = "0.14.0", path = "macros" }
futures = "0.3"
tonic = "0.11.0"
prost = "0.12.3"
bytes = "1"
prost-types = "0.12.3"
async-trait = "0.1"
env_logger = "0.11.2"
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
axum = "0.7.4"
tokio = { version = "1.29", features = ["sync"] }
tokio-util = { version = "0.7.10", features = ["io"] }
chrono = "0.4.24"

[build-dependencies]
tonic-build = "0.11.0"

[dev-dependencies]
axum-test = "14.3.0"
once_cell = "1.18.0"
tokio = { version = "1", features = ["full"] }
uuid = { version = "1.4.0", features = ["v4"] }
dapr = { path = "./" }
tokio-test = "0.4.2"
tokio-stream = { version = "0.1" }

[workspace]
members = ["durabletask"]

[[example]]
name = "actor-client"
path = "examples/actors/client.rs"

[[example]]
name = "actor-server"
path = "examples/actors/server.rs"

[[example]]
name = "client"
path = "examples/client/client.rs"

[[example]]
name = "configuration"
path = "examples/configuration/main.rs"

[[example]]
name = "crypto"
path = "examples/crypto/main.rs"

[[example]]
name = "invoke-grpc-client"
path = "examples/invoke/grpc/client.rs"

[[example]]
name = "invoke-grpc-server"
path = "examples/invoke/grpc/server.rs"

[[example]]
name = "invoke-grpc-proxying-client"
path = "examples/invoke/grpc-proxying/client.rs"

[[example]]
name = "invoke-grpc-proxying-server"
path = "examples/invoke/grpc-proxying/server.rs"

[[example]]
name = "publisher"
path = "examples/pubsub/publisher.rs"

[[example]]
name = "subscriber"
path = "examples/pubsub/subscriber.rs"

[[example]]
name = "query_state_q1"
path = "examples/query_state/query1.rs"

[[example]]
name = "query_state_q2"
path = "examples/query_state/query2.rs"

[[example]]
name = "secrets-bulk"
path = "examples/secrets-bulk/app.rs"
