[package]
name = "dapr"
version = "1.0.0"
authors = ["dapr.io"]
edition = "2018"
license-file = "LICENSE"
repository = "https://github.com/dapr/rust-sdk"
description = "Rust SDK for dapr"
readme = "README.md"
keywords = ["microservices", "dapr"]


[dependencies]
tonic = "0.2"
prost = "0.6.1"
bytes = "0.5.4"
prost-types = "0.6.1"
async-trait = "0.1.24"

[build-dependencies]
tonic-build = "0.2"

[dev-dependencies]
tokio = {version = "0.2", features = ["full"] }

[[example]]
name = "client"
path = "examples/client/client.rs"

[[example]]
name = "publisher"
path = "examples/pubsub/publisher.rs"

[[example]]
name = "subscriber"
path = "examples/pubsub/subscriber.rs"