[package]
name = "dapr"
version = "0.3.0"
authors = ["dapr.io"]
edition = "2018"

[dependencies]
tonic = "0.2.0"
prost = "0.6.1"
bytes = "0.5"
prost-types = "0.6.1"
async-trait = "0.1.24"

[build-dependencies]
tonic-build = "0.2.0"