[package]
name = "dapr"
version = "0.9.0-alpha.0"
authors = ["dapr.io"]
edition = "2018"
license-file = "LICENSE"
repository = "https://github.com/dapr/rust-sdk"
description = "Rust SDK for dapr"
readme = "README.md"
keywords = ["microservices", "dapr"]


[dependencies]
tonic = "0.5"
prost = "0.8"
bytes = "1"
prost-types = "0.8"
async-trait = "0.1"

[build-dependencies]
tonic-build = "0.5"

[dev-dependencies]
tokio = { version = "1", features = ["full"] }

[[example]]
name = "client"
path = "examples/client/client.rs"

[[example]]
name = "publisher"
path = "examples/pubsub/publisher.rs"

[[example]]
name = "subscriber"
path = "examples/pubsub/subscriber.rs"
