name: dapr-rust-sdk

on:
  push:
    branches:
      - main
      - release-*
    tags:
      - v*
  pull_request:
    branches:
      - main
      - release-*

env:
  CARGO_TERM_COLOR: always
  CARGO_TOKEN: ${{ secrets.CRATES_IO_TOKEN }}
  PROTOC_VERSION: 3.x
  RUSTUP_TOOLCHAIN: stable

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: stable
        components: clippy, rustfmt
    - name: Install Protoc
      uses: arduino/setup-protoc@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        version: ${{ env.PROTOC_VERSION }}
    - uses: actions/checkout@v4
    - name: cargo fmt
      run: cargo fmt -- --check --color ${{ env.CARGO_TERM_COLOR }}
    - name: cargo clippy
      run: cargo clippy -- -W warnings


  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: stable
        components: clippy, rustfmt
    - name: Install Protoc
      uses: arduino/setup-protoc@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        version: ${{ env.PROTOC_VERSION }}
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build
    - name: Build examples
      run: |
        cd examples
        cargo build --examples
    - name: Build proto-gen
      run: |
        cd proto-gen
        cargo build
    - name: Run Tests
      run: cargo test --all-targets

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: [lint, build]
    if: startswith(github.ref, 'refs/tags/v')

    steps:
    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: stable
        components: clippy, rustfmt
    - name: Install Protoc
      uses: arduino/setup-protoc@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        version: ${{ env.PROTOC_VERSION }}
    - uses: actions/checkout@v4
    - name: cargo publish dapr-macros
      run: cargo publish --manifest-path dapr-macros/Cargo.toml --token ${{ env.CARGO_TOKEN }}
    - name: cargo publish dapr
      run: cargo publish --token ${{ env.CARGO_TOKEN }}
